.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    font-family: 'Aclonica', sans-serif;
}

h3 {
    font-family: 'Aclonica' , sans-serif;
    color: white;
    
}
body{
    background-image: url("/static/images/content-imgs/LbLizqd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.top-left {
    position: absolute;
    top: 600px;
    left: 16px;
  }

.flashes h4 {
    line-height: 2;
    color: white;
}

.one div {
    background-image: url(../static/images/content-imgs/jardim-da-sereia.jpg);
}

.slider img{
    filter: brightness(0.6) grayscale(1) saturate(3) contrast(1.1);
  }
