.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    font-family: 'Special Elite', cursive;
}

h1 {
    font-family: 'Special Elite', cursive;
}

h2 {
    font-family: 'Special Elite', cursive;
}

h3 {
    font-family: 'Special Elite', cursive;
    color: white;
}

h4 {
    font-family: 'Special Elite', cursive;
}

h5 {
    font-family: 'Special Elite', cursive;
}

h6 {
    font-family: 'Special Elite', cursive;
}

span {
    font-family: 'Special Elite', cursive;
}

button {
    font-family: 'Special Elite', cursive;
}

a {
    font-family: 'Special Elite', cursive;
}

label {
    font-family: 'Special Elite', cursive;
}

body {
    background-color: #212121;
}

p {
    font-family: 'Special Elite', cursive;
}


.top-left {
    position: absolute;
    top: 600px;
    left: 16px;
}

.flashes h4 {
    line-height: 2;
    color: white;
}

.slider img {
    filter: brightness(0.6) grayscale(1) saturate(3) contrast(1.1);
}
