.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.yellow-text {
    font-family: 'Aclonica', sans-serif;
}

h3 {
    font-family: 'Aclonica' , sans-serif;
    color: yellow;
}

body{
    background-color: thistle;
}


.top-left {
    position: absolute;
    top: 600px;
    left: 16px;
  }

.flashes h4 {
    line-height: 2;
    color: white;
}

.one div {
    background-image: url(../static/images/content-imgs/jardim-da-sereia.jpg);
}

.slider img{
    filter: brightness(0.4) contrast(0.5) grayscale(1) opacity(0.9) saturate(3);
  }