{% extends "base.html" %}
{% block content %}

    <div id="hero">
        <video playsinline autoplay muted loop width="100%">
            <source src="static/video/hero-vid.mp4" type="video/mp4">
        </video>
    </div>
    <div class="top-left">
        <h3>Welcome to Coimbra Travels</h3>
        <a class="deep-purple darken-2 btn-large">Sign up Today</a>
    </div>



    
    {% for place in places %}
        {{ place.place_name }}<br>
        {{ place.category_name }}<br>
        {{ place.location }}<br>
        <img class="responsive-img" src="{{ place.image_url }}" alt="url image">
        <br>
        {{ place.description }}<br>
        {{ place.date }}<br>
    {% endfor %}



    {% endblock %}
