{% extends "base.html" %}
{% block content %}

<div class="slider">
  <ul class="slides">
    <li>
      <img src="static/images/content-imgs/hero-img-1.jpg"> <!-- image -->
      <div class="caption center-align">
        <h3>Welcome to Coimbra Travels!</h3>
        <h5 class="light grey-text text-lighten-3">Here you can find culture.</h5>
      </div>
    </li>
    <li>
      <img src="static/images/content-imgs/hero-img-2.jpg"> <!-- image -->
      <div class="caption left-align">
        <h3>Welcome to Coimbra Travels!</h3>
        <h5 class="light grey-text text-lighten-3">Make us your pocket guide.</h5>
      </div>
    </li>
    <li>
      <img src="static/images/content-imgs/hero-img-3.jpg"> <!-- image -->
      <div class="caption right-align">
        <h3>Welcome to Coimbra Travels!</h3>
        <h5 class="light grey-text text-lighten-3">Share your own Coimbra hidden spots.</h5>
      </div>
    </li>
    <li>
      <img src="static/images/content-imgs/hero-img-4.jpg"> <!-- image -->
      <div class="caption center-align">
        <h3>Welcome to Coimbra Travels!</h3>
        <h5 class="light grey-text text-lighten-3">Don't forget to sign up.</h5>
      </div>
    </li>
  </ul>
</div>

<h3 class="center-align">Places to see in Coimbra</h3>

{% for place in places %}
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="responsive-img" src="{{ place.image_url }}" alt="url image">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ place.place_name }} <i
            class="fas fa-caret-up grey-text-darken-4 "></i></span>
        <p><i class="fa fa-list grey-text-darken-4 "></i> {{ place.category_name }}</p>
        <p><i class="fa fa-map-marker grey-text-darken-4 "></i> {{ place.location }}</p>
        <p><i class="fa fa-calendar grey-text-darken-4"></i> {{ place.date }}</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ place.place_name }} <i
            class="fa fa-window-close grey-text-darken-4"></i></span>
        <p>{{ place.description }}</p>
        <p><em>Created by: {{ place.created_by }}</em></p>
        {% if session.user|lower == place.created_by|lower %}
        <a href="{{ url_for('edit_place', place_id=place._id) }}" class="btn-small black">Edit</a>
        <a href="{{ url_for('delete_place', place_id=place._id) }}" class="btn-small red">Delete</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}




  {% endblock %}
