{% extends "base.html" %}
{% block content %}

<div class="slider">
    <ul class="slides">
      <li>
        <img src="static/images/content-imgs/hero-img-1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to Coimbra Travels!</h3>
          <h5 class="light grey-text text-lighten-3">Here you can find culture.</h5>
        </div>
      </li>
      <li>
        <img src="static/images/content-imgs/hero-img-2.jpg"> <!-- random image -->
        <div class="caption left-align">
            <h3>Welcome to Coimbra Travels!</h3>
          <h5 class="light grey-text text-lighten-3">Make us your pocket guide.</h5>
        </div>
      </li>
      <li>
        <img src="static/images/content-imgs/hero-img-3.jpg"> <!-- random image -->
        <div class="caption right-align">
            <h3>Welcome to Coimbra Travels!</h3>
          <h5 class="light grey-text text-lighten-3">Share your own Coimbra hidden spots.</h5>
        </div>
      </li>
      <li>
        <img src="static/images/content-imgs/hero-img-4.jpg"> <!-- random image -->
        <div class="caption center-align">
            <h3>Welcome to Coimbra Travels!</h3>
          <h5 class="light grey-text text-lighten-3">Don't forget to sign up.</h5>
        </div>
      </li>
    </ul>
  </div>



    
    {% for place in places %}
        {{ place.place_name }}<br>
        {{ place.category_name }}<br>
        {{ place.location }}<br>
        <img class="responsive-img" src="{{ place.image_url }}" alt="url image">
        <br>
        {{ place.description }}<br>
        {{ place.date }}<br>
    {% endfor %}



    {% endblock %}
