{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h2 class="center-align grey-text-darken-4">
                    Welcome, {{ username }}
                </h2>
                <br>
                <p>Hi <strong>{{ username }}</strong>, I hope you can make a great use of this app.
                </p>
                <p>
                    Now that you have signed up with us, you too can share places you have visited in Coimbra City.
                    I wish you the best on your travels and in the mean time, you can watch this special welcoming video underneath.
                </p>
                <br>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XwtpEG38JdA?&autoplay=1"
                        title="YouTube video player" frameborder="0"
                        
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    


{% endblock %}