{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Become a Member</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix deep-purple-text darken-2"></i>
                    <input id="username" placeholder="Any letters a-z or 0-9 numbers" name="username"
                        minlength="5" maxlength="15" type="text" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix deep-purple-text darken-2"></i>
                    <input id="password" name="password" type="password" placeholder="Any letters a-z or 0-9 numbers" 
                        minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s12 deep-purple darken-2 btn-large">Register</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}